{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>DCrowdfunding Platform</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
    body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey w3-content" style="max-width:1600px">

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:300px;" id="mySidebar"><br>
  <div class="w3-container">
    <a href="#" onclick="w3_close()" class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey" title="close menu">
      <i class="fa fa-remove"></i>
    </a>
    <h4><b>DCrowdfunding Platform</b></h4>
    <a href="https://ropsten.etherscan.io/address/0x86D219D65452b013912B2af7b2E65E903fa3777d" class="w3-text-grey" target="_blank">Click to see the Smart Contract (Ropsten Etherscan)</a>
  </div>
  <div id="refs" class="w3-bar-block" style="display:none">
    <a href="#newCampaign" onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal"><i class="fa fa-th-large fa-fw w3-margin-right"></i>NEW CAMPAIGN</a>
    <a href="#contribute" onclick="w3_close()" class="w3-bar-item w3-button w3-padding"><i class="fa fa-th-large fa-fw w3-margin-right"></i>CONTRIBUTE</a>
  </div>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:300px">

  <!-- Header -->
  <header id="portfolio">

    <span class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey" onclick="w3_open()"><i class="fa fa-bars"></i></span>
    <div class="w3-container">
    <h1><b>Decentralized Crowdfunding Platform</b></h1>
    <div class="w3-section w3-bottombar w3-padding-16">
      <button id="connectButton" onClick="" class="w3-button w3-black">Connect to MetaMask</button>
    </div>
    </div>
  </header>

  <!-- Events Grid-->
  <div id="event" class="w3-row-padding">

  </div>

  <!-- New campaign Section -->
  <div id="newCampaign" class="w3-container w3-padding-large w3-grey" style="display:none">
    <h4 id="contact"><b>Create a New Campaign</b></h4>
    <hr class="w3-opacity">
    <form id="newCampaignForm" action="#" onsubmit="newCampaign();return false">
      <div class="w3-section">
        <label>Beneficiary (valid address)</label>
        <input class="w3-input w3-border" type="text" name="beneficiary" required>
      </div>
      <div class="w3-section">
        <label>Description</label>
        <input class="w3-input w3-border" type="text" name="description" required>
      </div>
      <div class="w3-section">
        <label>Goal (wei)</label>
        <input class="w3-input w3-border" type="number" name="goal" min="1" step="1" required>
      </div>
      <div class="w3-section">
        <label>Deadline <a href="https://www.unixtimestamp.com/">(Unix timestamp)</a></label>
        <input class="w3-input w3-border" type="number" name="deadline" min="1" step="1" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Create</button>
    </form>
    <hr class="w3-opacity">
  </div>



  <!-- Contribute Section -->
  <div id="contribute" class="w3-container w3-padding-large w3-grey" style="display:none">
    <h4 id="contact"><b>Contribute to a Campaign</b></h4>
    <hr class="w3-opacity">
    <form id="contributeForm" action="#" onsubmit="contribute();return false">
      <div class="w3-section">
        <label>CampaignID</label>
        <input class="w3-input w3-border" type="number" name="campaignID" min="0" step="1" required>
      </div>
      <div class="w3-section">
        <label>Amount (wei)</label>
        <input class="w3-input w3-border" type="number" name="amount" min="1" step="1" required>
      </div>
      <button type="submit" class="w3-button w3-black w3-margin-bottom"><i class="fa fa-paper-plane w3-margin-right"></i>Contribute</button>
    </form>
  </div>

</div>
  <!-- SCRIPTS -->
  <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/web3/1.6.1/web3.min.js"
      integrity="sha512-5erpERW8MxcHDF7Xea9eBQPiRtxbse70pFcaHJuOhdEBQeAxGQjUwgJbuBDWve+xP/u5IoJbKjyJk50qCnMD7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer">
  </script>
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
